<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="slick, flat, dashboard, bootstrap, admin, template, theme, responsive, fluid, retina">
    <link rel="shortcut icon" href="javascript:;" type="image/png">

    <title>Index</title>

    <!--right slidebar-->
    <link href="css/slidebars.css" rel="stylesheet">

    <!--switchery-->
    <link href="js/switchery/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />

    <!--common style-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        p{ line-height:5px}
    </style>
</head>

<body class="sticky-header">

    <section>
        <!-- sidebar left start-->
        <div class="sidebar-left">


            <div class="sidebar-left-info">

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked side-navigation">
                    <li>
                        <h3 class="navigation-title">Navigation</h3>
                    </li>
                    <li><a href="/home"><i class="fa fa-home nav-active"></i> <span>Home</span></a></li>
                    <li class="menu-list">
                        <a href=""><i class="fa fa-laptop"></i>  <span>Information</span></a>
                        <ul class="child-list">
                            <li><a href="/to_info1"> info1</a></li>
                            <li><a href="/to_info2"> info2</a></li>
                            <li><a href="/to_info3"> info3</a></li>
                            <li><a href="info4.html"> info4</a></li>
                        </ul>
                    </li>
                    <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>Experiments</span></a>
                        <ul class="child-list">
                            <li><a href="general.html"> BS Elements</a></li>
                            <li><a href="buttons.html"> Buttons</a></li>
                            <li><a href="toastr.html"> Toaster Notification</a></li>

                        </ul>
                    </li>
                    <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>Submit </span></a>
                        <ul class="child-list">
                            <li><a href="grid.html"> Grids</a></li>
                            <li><a href="calendar.html"> Calendar</a></li>
                            <li><a href="timeline.html"> Timeline </a></li>
                            <li><a href="gallery.html"> Gallery </a></li>
                        </ul>
                    </li>



                </ul>
                <!--sidebar nav end-->



            </div>
        </div>
        <!-- sidebar left end-->

        <!-- body content start-->
        <div class="body-content" style="min-height: 600px; width: available">
            <div class="header-section" >
<!--                <div class="progress" style="margin: 10px" >-->
<!--                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">-->
<!--                        60%-->
<!--                    </div>-->
<!--                </div>-->
            </div>


            <!-- page head start-->
            <div class="page-head">
                <h4 style="font-family: Cambria;font-size: 25px">
                    An Empirical Study On Voice And Animation In Visualization !
                </h4>

            </div>
            <!-- page head end-->
                <section class="panel">
            <!--body wrapper start-->
            <div class="wrapper" style="height: 250px">

                <p style="font-family: Cambria;font-size: 18px">How is your memory?</p> <br>
                <p style="font-family: Cambria;font-size: 18px">How much content can you remember of a visualization chart in 30 seconds?</p> <br>
                <p style="font-family: Cambria;font-size: 18px">Do you think adding voice and animation will benefit the memorizing of visualization?</p><br>
                <p style="font-family: Cambria;font-size: 18px">Join this experiment and find the answer!</p><br>
                <p style="font-family: Cambria;font-size: 18px">You can also compare your results with others and share with friends!</p><br>
                <p style="font-family: Cambria;font-size: 18px">This test will only work on a PC or laptop with speaker.</p><br>


            </div>
                </section>
            <section class="panel" >
                <a href="to_info1">
                <button type="button"  class="btn btn-success m-b-10" style="position: absolute;left: 45%;font-family: Cambria;font-size: 18px">Read the participation information !</button>
                </a>
            </section>


        </div>
        <!-- body content end-->
    </section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>

<!--Nice Scroll-->
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>

<!--right slidebar-->
<script src="js/slidebars.min.js"></script>

<!--switchery-->
<script src="js/switchery/switchery.min.js"></script>
<script src="js/switchery/switchery-init.js"></script>

<!--Sparkline Chart-->
<script src="js/sparkline/jquery.sparkline.js"></script>
<script src="js/sparkline/sparkline-init.js"></script>


<!--common scripts for all pages-->
<script src="js/scripts.js"></script>


</body>
</html>
